<a href="https://colab.research.google.com/github/preetamjumech/Hadoop_Hbase_practice/blob/main/Preetam_Saha_B3_Hadoop_HBase.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Hadoop 
Install and Test

#Here, we install two softwares, hadoop and hbase

In [1]:
# The default JVM available at /usr/lib/jvm/java-11-openjdk-amd64/  works for Hadoop
# But gives errors with Hive https://stackoverflow.com/questions/54037773/hive-exception-class-jdk-internal-loader-classloadersappclassloader-cannot
# Hence this JVM needs to be installed
!apt-get update > /dev/null
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

In [2]:
# Download the latest version of Hadoop
!wget https://downloads.apache.org/hadoop/common/hadoop-3.3.3/hadoop-3.3.3.tar.gz
# Unzip it
# the tar command with the -x flag to extract, -z to uncompress, -v for verbose output, and -f to specify that we’re extracting from a file
!tar -xzf hadoop-3.3.3.tar.gz
#copy  hadoop file to user/local
!mv  hadoop-3.3.3/ /usr/local/

--2022-11-07 04:32:51--  https://downloads.apache.org/hadoop/common/hadoop-3.3.3/hadoop-3.3.3.tar.gz
Resolving downloads.apache.org (downloads.apache.org)... 135.181.214.104, 88.99.95.219, 2a01:4f8:10a:201a::2, ...
Connecting to downloads.apache.org (downloads.apache.org)|135.181.214.104|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 645040598 (615M) [application/x-gzip]
Saving to: ‘hadoop-3.3.3.tar.gz’

hadoop-3.3.3.tar.gz 100%[===================>] 615.16M  23.3MB/s    in 27s

2022-11-07 04:33:18 (22.7 MB/s) - ‘hadoop-3.3.3.tar.gz’ saved [645040598/645040598]

In [3]:
#To find the default Java path
!readlink -f /usr/bin/java | sed "s:bin/java::"
!ls /usr/lib/jvm/

/usr/lib/jvm/java-11-openjdk-amd64/
default-java		   java-11-openjdk-amd64     java-8-openjdk-amd64
java-1.11.0-openjdk-amd64  java-1.8.0-openjdk-amd64

## Set Hadoop Environment

### path is a collection of directiories where executable files are stored.and the system searches it in a particular sequence.

In [4]:
#To set java path, go to /usr/local/hadoop-3.3.0/etc/hadoop/hadoop-env.sh then
#. . . export JAVA_HOME=/usr/lib/jvm/java-11-openjdk-amd64/ . . .
#we have used a simpler alternative route using os.environ - it works

import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"   # default is changed
#os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64/"
os.environ["HADOOP_HOME"] = "/usr/local/hadoop-3.3.3/"

In [5]:
# Add Hadoop BIN to PATH
# current_path taken from last command
#current_path = '/opt/bin:/usr/local/nvidia/bin:/usr/local/cuda/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/tools/node/bin:/tools/google-cloud-sdk/bin'
#new_path = current_path+':/usr/local/hadoop-3.3.3/bin/'
#os.environ["PATH"] = new_path

current_path = os.getenv('PATH')
#new_path = current_path+':/usr/local/hadoop-3.3.0/bin/'
new_path = current_path+':/usr/local/hadoop-3.3.3/bin/'
os.environ["PATH"] = new_path
!echo $PATH

/opt/bin:/usr/local/nvidia/bin:/usr/local/cuda/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/tools/node/bin:/tools/google-cloud-sdk/bin:/usr/local/hadoop-3.3.3/bin/

In [ ]:
# Testing Hadoop with PI generating sample program, should calculate value of pi = 3.14157500000000000000
# pi example
#Uncomment the following line if  you want to test Hadoop with pi example
!hadoop jar /usr/local/hadoop-3.3.3/share/hadoop/mapreduce/hadoop-mapreduce-examples-3.3.3.jar pi 16 100000

#Install HBase

In [7]:
# Get the latest HBase download site from here https://www.apache.org/dyn/closer.lua/hbase/
# or even better check here for latest downloads >>> https://downloads.apache.org/hbase/
#!wget https://mirrors.estointernet.in/apache/hbase/2.4.5/hbase-2.4.5-bin.tar.gz
#!wget https://mirrors.estointernet.in/apache/hbase/2.4.8/hbase-2.4.8-bin.tar.gz
#!wget https://downloads.apache.org/hbase/2.4.9/hbase-2.4.9-bin.tar.gz
!wget https://downloads.apache.org/hbase/2.4.15/hbase-2.4.15-bin.tar.gz
#!wget https://downloads.apache.org/hbase/2.5.0/hbase-2.5.0-bin.tar.gz
#!tar xzf hbase-2.4.5-bin.tar.gz
#!tar xzf hbase-2.4.8-bin.tar.gz
#!tar xzf hbase-2.4.9-bin.tar.gz
!tar xzf hbase-2.4.15-bin.tar.gz
#!tar xzf hbase-2.5.0-bin.tar.gz

--2022-11-07 04:35:39--  https://downloads.apache.org/hbase/2.4.15/hbase-2.4.15-bin.tar.gz
Resolving downloads.apache.org (downloads.apache.org)... 88.99.95.219, 135.181.214.104, 2a01:4f8:10a:201a::2, ...
Connecting to downloads.apache.org (downloads.apache.org)|88.99.95.219|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 284230281 (271M) [application/x-gzip]
Saving to: ‘hbase-2.4.15-bin.tar.gz’

hbase-2.4.15-bin.ta 100%[===================>] 271.06M  25.2MB/s    in 12s

2022-11-07 04:35:51 (23.5 MB/s) - ‘hbase-2.4.15-bin.tar.gz’ saved [284230281/284230281]

### so we have downloaded the current version of hbase and untarred it.

## Set HBase Environment

In [8]:
#os.environ["HIVE_HOME"] = "/content/apache-hive-3.1.2-bin"
#!echo $HIVE_HOME
#os.environ["HBASE_HOME"] = "/content/hbase-2.4.5/"
#os.environ["HBASE_HOME"] = "/content/hbase-2.4.8/"
#os.environ["HBASE_HOME"] = "/content/hbase-2.4.9/"
os.environ["HBASE_HOME"] = "/content/hbase-2.4.15/"
#os.environ["HBASE_HOME"] = "/content/hbase-2.5.0/"
!echo $HBASE_HOME

/content/hbase-2.4.15/

In [9]:
!echo $PATH

/opt/bin:/usr/local/nvidia/bin:/usr/local/cuda/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/tools/node/bin:/tools/google-cloud-sdk/bin:/usr/local/hadoop-3.3.3/bin/

In [10]:
# current_path taken from command in previous cell
#current_path = '/opt/bin:/usr/local/nvidia/bin:/usr/local/cuda/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/tools/node/bin:/tools/google-cloud-sdk/bin:/usr/local/hadoop-3.3.3/bin/'
current_path = os.getenv('PATH')
#new_path = current_path+':/content/hbase-2.4.5/bin'
#new_path = current_path+':/content/hbase-2.4.8/bin'
#new_path = current_path+':/content/hbase-2.4.9/bin'
new_path = current_path+':/content/hbase-2.4.15/bin'
#new_path = current_path+':/content/hbase-2.5.0/bin'
os.environ["PATH"] = new_path
!echo $PATH

/opt/bin:/usr/local/nvidia/bin:/usr/local/cuda/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/tools/node/bin:/tools/google-cloud-sdk/bin:/usr/local/hadoop-3.3.3/bin/:/content/hbase-2.4.15/bin

In [11]:
!echo $JAVA_HOME
!echo $HADOOP_HOME
!echo $HBASE_HOME

/usr/lib/jvm/java-8-openjdk-amd64
/usr/local/hadoop-3.3.3/
/content/hbase-2.4.15/

In [ ]:
# the file hbase-site.xml may need to be updated ...
# however the default file works well in the simple stand-alone HBase mode
# so no need to touch it
#!cat $HBASE_HOME/conf/hbase-site.xml

## Some Clean UP
Otherwise we get ugly warnings

### we have installed hadoop and hbase, both of them are having some overlapping functions.One painfully overlapping function is the logging function.

In [12]:
# locate multiple instances of slf4j ...
!ls $HADOOP_HOME/share/hadoop/common/lib/*slf4j*
!ls $HBASE_HOME/lib/*slf4j*
!ls /content/hbase-2.4.15/lib/client-facing-thirdparty/slf4j-reload4j-1.7.33.jar
#ls /content/hbase-2.5.0/lib/client-facing-thirdparty/slf4j-api-1.7.33.jar

/usr/local/hadoop-3.3.3//share/hadoop/common/lib/jul-to-slf4j-1.7.36.jar
/usr/local/hadoop-3.3.3//share/hadoop/common/lib/slf4j-api-1.7.36.jar
/usr/local/hadoop-3.3.3//share/hadoop/common/lib/slf4j-reload4j-1.7.36.jar
/content/hbase-2.4.15//lib/jcl-over-slf4j-1.7.33.jar
/content/hbase-2.4.15//lib/jul-to-slf4j-1.7.33.jar
/content/hbase-2.4.15/lib/client-facing-thirdparty/slf4j-reload4j-1.7.33.jar

In [13]:
# remove the Hadoop logger out of the path
# without this you will get ugly warnings every time
#!mv /usr/local/hadoop-3.3.3//share/hadoop/common/lib/slf4j-log4j12-1.7.25.jar .
#!mv /usr/local/hadoop-3.3.3//share/hadoop/common/lib/slf4j-api-1.7.36.jar .
#!mv /usr/local/hadoop-3.3.3//share/hadoop/common/lib/slf4j-reload4j-1.7.36.jar .
!mv /content/hbase-2.4.15/lib/client-facing-thirdparty/slf4j-reload4j-1.7.33.jar .
#!mv /content/hbase-2.5.0/lib/client-facing-thirdparty/slf4j-api-1.7.33.jar .

### so, we have removed hbase slf4 path and now we are in position to start the Hbase server. we can start hadoop first, or we can start hbase first. what we do is we keep hadoop dormant, whenever hbase requires, it starts it up. that is why it is slighltly slower.

## Start HBase server

In [ ]:
#!stop-hbase.sh

In [14]:
!start-hbase.sh

running master, logging to /content/hbase-2.4.15//logs/hbase--master-72a80941cd57.out

In [15]:
!jps

1412 HMaster
1738 Jps

# Run Hbase Shell

HBase Shell
HBase contains a shell using which you can communicate with HBase. HBase uses the Hadoop File System to store its data. It will have a master server and region servers. The data storage will be in the form of regions (tables). These regions will be split up and stored in region servers.

The master server manages these region servers and all these tasks take place on HDFS. Given below are some of the commands supported by HBase Shell.

General Commands
status - Provides the status of HBase, for example, the number of servers.

version - Provides the version of HBase being used.

table_help - Provides help for table-reference commands.

whoami - Provides information about the user.

### now, Hbase is running but to access it, one technique is shell approach,as if it is stting on a machine where hbase is installed, and it is giving the shell command to access it

In [16]:
# you can enter hbase shell commands at the prompt. Double click on the prompt to open up a input box
!hbase shell

HBase Shell
Use "help" to get list of supported commands.
Use "exit" to quit this interactive shell.
For Reference, please visit: http://hbase.apache.org/2.0/book.html#shell
Version 2.4.15, r35310fcd6b11a1d04d75eb7db2e592dd34e4d5b6, Thu Oct 13 11:42:20 PDT 2022
Took 0.0025 seconds
hbase:001:0> exit

now, the system will expect pure hbase commands like scan(),get(),put().etc  but whenever we are inside colab, we dont have that ability. in linux system we could do that, we are using a bypass feature of colab but unfortuantely it treats it as a password.So,it is not that much of help.

shell commands  <br>
https://www.tutorialspoint.com/hbase/hbase_shell.htm <br>
https://www.guru99.com/hbase-shell-general-commands.html <br>
better way of passing shell commands are given here

In [17]:
!echo 'status' | hbase shell -n

hbase:001:0> status
1 active master, 0 backup masters, 1 servers, 0 dead, 2.0000 average load
Took 1.4758 seconds
hbase:002:0>

### so,the command I am giving to hbase is actually the 'status', and it is giving the output,so shell is active.

In [ ]:
#!echo "status 'detail'" | hbase shell -n

In [18]:
!echo "whoami" | hbase shell -n

hbase:001:0> whoami
root (auth:SIMPLE)
    groups: root
Took 0.0186 seconds
hbase:002:0>

## Simple Tutorial
command line tutorial https://akbarahmed.com/2012/08/13/hbase-command-line-tutorial/

In [19]:
!echo "create 'table1', 'columnfamily1'" | hbase shell -n

hbase:001:0> create 'table1', 'columnfamily1'
Created table table1
Took 1.5324 seconds
=> Hbase::Table - table1
hbase:002:0>

In [20]:
!echo "list" | hbase shell -n

hbase:001:0> list
TABLE
table1
1 row(s)
Took 1.1085 seconds
=> ["table1"]
hbase:002:0>

In [21]:
!echo "create 'cars', 'vi'" | hbase shell -n

hbase:001:0> create 'cars', 'vi'
Created table cars
Took 1.5397 seconds
=> Hbase::Table - cars
hbase:002:0>

In [22]:
!echo "list" | hbase shell -n

hbase:001:0> list
TABLE
cars
table1
2 row(s)
Took 1.0744 seconds
=> ["cars", "table1"]
hbase:002:0>

In [23]:
# add ONE row
# nearly THREE seconds per row ... what will you do with a million rows? wait for bulk loader
!echo "put 'cars', 'row1', 'vi:make', 'bmw'" | hbase shell -n
!echo "put 'cars', 'row1', 'vi:model', '5 series'" | hbase shell -n
!echo "put 'cars', 'row1', 'vi:year', '2012'" | hbase shell -n

hbase:001:0> put 'cars', 'row1', 'vi:make', 'bmw'
Took 0.8408 seconds
hbase:002:0>
hbase:001:0> put 'cars', 'row1', 'vi:model', '5 series'
Took 0.9941 seconds
hbase:002:0>
hbase:001:0> put 'cars', 'row1', 'vi:year', '2012'
Took 1.0578 seconds
hbase:002:0>

In [24]:
%%time
# add ONE row
!echo "put 'cars', 'row2', 'vi:make', 'mercedes'" | hbase shell -n
!echo "put 'cars', 'row2', 'vi:model', 'e class'" | hbase shell -n
!echo "put 'cars', 'row2', 'vi:year', '2012'" | hbase shell -n

hbase:001:0> put 'cars', 'row2', 'vi:make', 'mercedes'
Took 1.0543 seconds
hbase:002:0>
hbase:001:0> put 'cars', 'row2', 'vi:model', 'e class'
Took 0.9331 seconds
hbase:002:0>
hbase:001:0> put 'cars', 'row2', 'vi:year', '2012'
Took 1.0611 seconds
hbase:002:0>
CPU times: user 521 ms, sys: 86 ms, total: 607 ms
Wall time: 1min 3s

In [25]:
%%time
!echo "scan 'cars'" | hbase shell -n

hbase:001:0> scan 'cars'
ROW                   COLUMN+CELL
 row1                 column=vi:make, timestamp=2022-11-07T05:11:06.580, value=b
                      mw
 row1                 column=vi:model, timestamp=2022-11-07T05:11:27.628, value=
                      5 series
 row1                 column=vi:year, timestamp=2022-11-07T05:11:48.962, value=2
                      012
 row2                 column=vi:make, timestamp=2022-11-07T05:13:48.336, value=m
                      ercedes
 row2                 column=vi:model, timestamp=2022-11-07T05:14:09.129, value=
                      e class
 row2                 column=vi:year, timestamp=2022-11-07T05:14:29.876, value=2
                      012
2 row(s)
Took 0.9226 seconds
hbase:002:0>
CPU times: user 164 ms, sys: 34.6 ms, total: 199 ms
Wall time: 20.9 s

In [26]:
!echo "scan 'cars', {COLUMNS => ['vi:make']}" | hbase shell -n

hbase:001:0> scan 'cars', {COLUMNS => ['vi:make']}
ROW                   COLUMN+CELL
 row1                 column=vi:make, timestamp=2022-11-07T05:11:06.580, value=b
                      mw
 row2                 column=vi:make, timestamp=2022-11-07T05:13:48.336, value=m
                      ercedes
2 row(s)
Took 1.2318 seconds
hbase:002:0>

In [27]:
!echo "get 'cars', 'row1'"| hbase shell -n

hbase:001:0> get 'cars', 'row1'
COLUMN                CELL
 vi:make              timestamp=2022-11-07T05:11:06.580, value=bmw
 vi:model             timestamp=2022-11-07T05:11:27.628, value=5 series
 vi:year              timestamp=2022-11-07T05:11:48.962, value=2012
1 row(s)
Took 1.3830 seconds
hbase:002:0>

In [28]:
!echo "get 'cars', 'row1', 'vi:make' "| hbase shell -n

hbase:001:0> get 'cars', 'row1', 'vi:make'
COLUMN                CELL
 vi:make              timestamp=2022-11-07T05:11:06.580, value=bmw
1 row(s)
Took 1.4494 seconds
hbase:002:0>

### Versioning

### now,I am updating the data, last time it was bmw, now it is bmw-v2, so new version of data is going in

In [29]:
# add the same row a second time
!echo "put 'cars', 'row1', 'vi:make', 'bmw-v2'" | hbase shell -n

hbase:001:0> put 'cars', 'row1', 'vi:make', 'bmw-v2'
Took 1.0880 seconds
hbase:002:0>

In [30]:
!echo "get 'cars', 'row1', 'vi:make' "| hbase shell -n

hbase:001:0> get 'cars', 'row1', 'vi:make'
COLUMN                CELL
 vi:make              timestamp=2022-11-07T05:24:32.248, value=bmw-v2
1 row(s)
Took 1.1621 seconds
hbase:002:0>

### here, we are only getting last version of data, only bmw-v2

In [31]:
!echo "get 'cars', 'row1',  {COLUMN => 'vi:make', VERSIONS => 2} "| hbase shell -n

hbase:001:0> get 'cars', 'row1',  {COLUMN => 'vi:make', VERSIONS => 2}
COLUMN                CELL
 vi:make              timestamp=2022-11-07T05:24:32.248, value=bmw-v2
1 row(s)
Took 1.1930 seconds
hbase:002:0>

### by default, the first value has no version, so, version 2 will be bmw-v2, and the original data will be washed out.

In [32]:
# versioning is not setup by default
! echo "alter 'cars', NAME=>'vi', VERSIONS=>3" | hbase shell -n

hbase:001:0> alter 'cars', NAME=>'vi', VERSIONS=>3
Updating all regions with the new schema...
1/1 regions updated.
Done.
Took 3.1522 seconds
hbase:002:0>

### now, I am altering the table my making it version 3. so the table is versionable now. now if I retreive the data after updating, I should get the previous one also.

In [33]:
# add the same row a third time
!echo "put 'cars', 'row1', 'vi:make', 'bmw-v3'" | hbase shell -n

hbase:001:0> put 'cars', 'row1', 'vi:make', 'bmw-v3'
Took 1.2502 seconds
hbase:002:0>

In [34]:
!echo "get 'cars', 'row1',  {COLUMN => 'vi:make', VERSIONS => 2} "| hbase shell -n

hbase:001:0> get 'cars', 'row1',  {COLUMN => 'vi:make', VERSIONS => 2}
COLUMN                CELL
 vi:make              timestamp=2022-11-07T05:32:59.441, value=bmw-v3
 vi:make              timestamp=2022-11-07T05:24:32.248, value=bmw-v2
1 row(s)
Took 1.0098 seconds
hbase:002:0>

In [35]:
!echo "disable 'cars'" | hbase shell -n
!echo "drop 'cars'" | hbase shell -n

hbase:001:0> disable 'cars'
Took 1.6955 seconds
hbase:002:0>
hbase:001:0> drop 'cars'
Took 1.4621 seconds
hbase:002:0>

#Bulk Data Load
https://people.apache.org/~stack/site/bulk-loads.html

In [36]:
#Data as CSV file
!gdown https://drive.google.com/uc?id=1B6szzHNG7BCToKOktRiGUfFblrp1f_GC  # cars2.csv

Downloading...
From: https://drive.google.com/uc?id=1B6szzHNG7BCToKOktRiGUfFblrp1f_GC
To: /content/cars2.csv
100% 54.0/54.0 [00:00<00:00, 63.9kB/s]

In [37]:
# see the data, cat command reads data from the file and gives their content as output.
!cat cars2.csv

Ford,Ecosport,2019
Hyundai,i20,2015
Maruti,Omni,2007

In [ ]:
#!echo "disable 'cars2'" | hbase shell -n
#!echo "drop 'cars2'" | hbase shell -n

### now, we are creating a new table called car2, with a column family containing columns 'make','model',and'year'.

In [38]:
#create 'sensor','temp','vibration','pressure'
!echo "create 'cars2', 'make','model','year'" | hbase shell -n

hbase:001:0> create 'cars2', 'make','model','year'
Created table cars2
Took 1.7701 seconds
=> Hbase::Table - cars2
hbase:002:0>

In [39]:
!echo "list" | hbase shell -n

hbase:001:0> list
TABLE
cars2
table1
2 row(s)
Took 0.8658 seconds
=> ["cars2", "table1"]
hbase:002:0>

In [40]:
!cat cars2.csv

Ford,Ecosport,2019
Hyundai,i20,2015
Maruti,Omni,2007

### now, hbase is running on hdfs, the csv file first has to move in hdfs,when we install hadoop, we have to create a hdfs directory, where hdfs file systems will be stored. default set up is /tmp . so first we have to move the file from normal directory to hdfs directory,so, we will use the hdfs command

In [42]:
!ls #local directory

cars2.csv	     hbase-2.4.15	      sample_data		 tmp
hadoop-3.3.3.tar.gz  hbase-2.4.15-bin.tar.gz  slf4j-reload4j-1.7.33.jar

In [43]:
# input file has to be moved from regular file system to HDFS file system
!hdfs dfs -copyFromLocal cars2.csv /tmp

### in our case, it doesnot matter because we are using single cluster machine but actually, it moves to multiple cluster machines from a local directory.

In [ ]:
# https://community.cloudera.com/t5/Community-Articles/Import-CSV-data-into-HBase-using-importtsv/ta-p/244842
#hbase org.apache.hadoop.hbase.mapreduce.ImportTsv -Dimporttsv.separator=,  -Dimporttsv.columns="HBASE_ROW_KEY,id,temp:in,temp:out,vibration,pressure:in,pressure:out" sensor hdfs://sandbox.hortonworks.com:/tmp/hbase.csv
!hbase org.apache.hadoop.hbase.mapreduce.ImportTsv -Dimporttsv.separator=','  -Dimporttsv.columns="HBASE_ROW_KEY,make,model,year" cars2 /tmp/cars2.csv

### so, we haved loaded the file in hadoop

In [45]:
!echo "scan 'cars2'" | hbase shell -n

hbase:001:0> scan 'cars2'
ROW                   COLUMN+CELL
 Ford                 column=make:, timestamp=2022-11-07T05:54:21.506, value=Eco
                      sport
 Ford                 column=model:, timestamp=2022-11-07T05:54:21.506, value=20
                      19
 Hyundai              column=make:, timestamp=2022-11-07T05:54:21.506, value=i20
 Hyundai              column=model:, timestamp=2022-11-07T05:54:21.506, value=20
                      15
 Maruti               column=make:, timestamp=2022-11-07T05:54:21.506, value=Omn
                      i
 Maruti               column=model:, timestamp=2022-11-07T05:54:21.506, value=20
                      07
3 row(s)
Took 1.3764 seconds
hbase:002:0>

#Stop HBase

In [46]:
!stop-hbase.sh

stopping hbase.............

In [47]:
from datetime import datetime
import pytz
print('signed off at  ',datetime.now(pytz.timezone('Asia/Kolkata')))

signed off at   2022-11-07 11:29:45.624608+05:30