<a href="https://colab.research.google.com/github/preetamjumech/Hadoop_Hbase_practice/blob/main/Preetam_Saha_B3A_Hadoop_HBase_with_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Hadoop 
Install and Test

In [1]:
# The default JVM available at /usr/lib/jvm/java-11-openjdk-amd64/  works for Hadoop
# But gives errors with Hive https://stackoverflow.com/questions/54037773/hive-exception-class-jdk-internal-loader-classloadersappclassloader-cannot
# Hence this JVM needs to be installed
!apt-get update > /dev/null
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

In [2]:
# Download the latest version of Hadoop
#!wget https://downloads.apache.org/hadoop/common/hadoop-3.3.0/hadoop-3.3.0.tar.gz
!wget https://downloads.apache.org/hadoop/common/hadoop-3.3.3/hadoop-3.3.3.tar.gz
# Unzip it
# the tar command with the -x flag to extract, -z to uncompress, -v for verbose output, and -f to specify that we’re extracting from a file
#!tar -xzf hadoop-3.3.0.tar.gz
!tar -xzf hadoop-3.3.3.tar.gz
#copy  hadoop file to user/local
#!mv  hadoop-3.3.0/ /usr/local/
!mv  hadoop-3.3.3/ /usr/local/

--2022-11-07 06:41:31--  https://downloads.apache.org/hadoop/common/hadoop-3.3.3/hadoop-3.3.3.tar.gz
Resolving downloads.apache.org (downloads.apache.org)... 135.181.214.104, 88.99.95.219, 2a01:4f8:10a:201a::2, ...
Connecting to downloads.apache.org (downloads.apache.org)|135.181.214.104|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 645040598 (615M) [application/x-gzip]
Saving to: ‘hadoop-3.3.3.tar.gz’

hadoop-3.3.3.tar.gz 100%[===================>] 615.16M  17.3MB/s    in 34s

2022-11-07 06:42:06 (17.9 MB/s) - ‘hadoop-3.3.3.tar.gz’ saved [645040598/645040598]

In [ ]:
#To find the default Java path
#!readlink -f /usr/bin/java | sed "s:bin/java::"
#!ls /usr/lib/jvm/

## Set Hadoop Environment

In [3]:
#To set java path, go to /usr/local/hadoop-3.3.0/etc/hadoop/hadoop-env.sh then
#. . . export JAVA_HOME=/usr/lib/jvm/java-11-openjdk-amd64/ . . .
#we have used a simpler alternative route using os.environ - it works

import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"   # default is changed
#os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64/"
#os.environ["HADOOP_HOME"] = "/usr/local/hadoop-3.3.0/"
os.environ["HADOOP_HOME"] = "/usr/local/hadoop-3.3.3/"

In [4]:
# Add Hadoop BIN to PATH
# current_path taken from last command
#current_path = '/usr/local/nvidia/bin:/usr/local/cuda/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/tools/node/bin:/tools/google-cloud-sdk/bin:/opt/bin'
current_path = os.getenv('PATH')
#new_path = current_path+':/usr/local/hadoop-3.3.0/bin/'
new_path = current_path+':/usr/local/hadoop-3.3.3/bin/'
os.environ["PATH"] = new_path

In [ ]:
# Testing Hadoop with PI generating sample program, should calculate value of pi = 3.14157500000000000000
# pi example
#Uncomment the following line if  you want to test Hadoop with pi example
#!hadoop jar /usr/local/hadoop-3.3.0/share/hadoop/mapreduce/hadoop-mapreduce-examples-3.3.0.jar pi 16 100000
!hadoop jar /usr/local/hadoop-3.3.3/share/hadoop/mapreduce/hadoop-mapreduce-examples-3.3.3.jar pi 16 100000

#Install HBase

In [7]:
# Get the latest HBase download site from here https://www.apache.org/dyn/closer.lua/hbase/
#!wget https://mirrors.estointernet.in/apache/hbase/2.4.5/hbase-2.4.5-bin.tar.gz
#!wget https://mirrors.estointernet.in/apache/hbase/2.4.8/hbase-2.4.8-bin.tar.gz
#!wget https://downloads.apache.org/hbase/2.4.9/hbase-2.4.9-bin.tar.gz
!wget https://downloads.apache.org/hbase/2.4.15/hbase-2.4.15-bin.tar.gz
#!wget https://downloads.apache.org/hbase/2.5.0/hbase-2.5.0-bin.tar.gz
#!tar xzf hbase-2.4.5-bin.tar.gz
#!tar xzf hbase-2.4.8-bin.tar.gz
#!tar xzf hbase-2.4.9-bin.tar.gz
!tar xzf hbase-2.4.15-bin.tar.gz
#!tar xzf hbase-2.5.0-bin.tar.gz

--2022-11-07 06:48:54--  https://downloads.apache.org/hbase/2.4.15/hbase-2.4.15-bin.tar.gz
Resolving downloads.apache.org (downloads.apache.org)... 135.181.214.104, 88.99.95.219, 2a01:4f8:10a:201a::2, ...
Connecting to downloads.apache.org (downloads.apache.org)|135.181.214.104|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 284230281 (271M) [application/x-gzip]
Saving to: ‘hbase-2.4.15-bin.tar.gz’

hbase-2.4.15-bin.ta 100%[===================>] 271.06M  18.3MB/s    in 16s

2022-11-07 06:49:11 (17.1 MB/s) - ‘hbase-2.4.15-bin.tar.gz’ saved [284230281/284230281]

## Set HBase Environment

In [8]:
#os.environ["HIVE_HOME"] = "/content/apache-hive-3.1.2-bin"
#!echo $HIVE_HOME
#os.environ["HBASE_HOME"] = "/content/hbase-2.4.5/"
#os.environ["HBASE_HOME"] = "/content/hbase-2.4.8/"
#os.environ["HBASE_HOME"] = "/content/hbase-2.4.9/"
os.environ["HBASE_HOME"] = "/content/hbase-2.4.15/"
#os.environ["HBASE_HOME"] = "/content/hbase-2.5.0/"
!echo $HBASE_HOME

/content/hbase-2.4.15/

In [9]:
# current_path taken from command in previous cell
#current_path = '/usr/local/nvidia/bin:/usr/local/cuda/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/tools/node/bin:/tools/google-cloud-sdk/bin:/opt/bin:/usr/local/hadoop-3.3.0/bin/'
#new_path = current_path+':/content/hbase-2.4.5/bin'
current_path = os.getenv('PATH')
#new_path = current_path+':/content/hbase-2.4.8/bin'
#new_path = current_path+':/content/hbase-2.4.9/bin'
new_path = current_path+':/content/hbase-2.4.15/bin'
#new_path = current_path+':/content/hbase-2.5.0/bin'
os.environ["PATH"] = new_path
!echo $PATH

/opt/bin:/usr/local/nvidia/bin:/usr/local/cuda/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/tools/node/bin:/tools/google-cloud-sdk/bin:/usr/local/hadoop-3.3.3/bin/:/content/hbase-2.4.15/bin

In [10]:
!echo $JAVA_HOME
!echo $HADOOP_HOME
!echo $HBASE_HOME

/usr/lib/jvm/java-8-openjdk-amd64
/usr/local/hadoop-3.3.3/
/content/hbase-2.4.15/

In [ ]:
# the file hbase-site.xml may need to be updated ...
# however the default file works well in the simple stand-alone HBase mode
# so no need to touch it
#!cat $HBASE_HOME/conf/hbase-site.xml

## Some Clean UP
Otherwise we get ugly warnings

In [11]:
# locate multiple instances of slf4j ...
!ls $HADOOP_HOME/share/hadoop/common/lib/*slf4j*
!ls $HBASE_HOME/lib/*slf4j*
!ls /content/hbase-2.4.15/lib/client-facing-thirdparty/slf4j-reload4j-1.7.33.jar
#!ls /content/hbase-2.5.0/lib/client-facing-thirdparty/slf4j-api-1.7.33.jar

/usr/local/hadoop-3.3.3//share/hadoop/common/lib/jul-to-slf4j-1.7.36.jar
/usr/local/hadoop-3.3.3//share/hadoop/common/lib/slf4j-api-1.7.36.jar
/usr/local/hadoop-3.3.3//share/hadoop/common/lib/slf4j-reload4j-1.7.36.jar
/content/hbase-2.4.15//lib/jcl-over-slf4j-1.7.33.jar
/content/hbase-2.4.15//lib/jul-to-slf4j-1.7.33.jar
/content/hbase-2.4.15/lib/client-facing-thirdparty/slf4j-reload4j-1.7.33.jar

### to avoid the logging issues of hadoop and hbase, we removed hbase and retained the hadoop. A logger keeps track whatever is happenning and it logs files.so, in case of problems, we have some chnaces to look at those files and find out what went wrong where.

In [12]:
# remove the Hadoop logger out of the path
# without this you will get ugly warnings every time
#!mv /usr/local/hadoop-3.3.0//share/hadoop/common/lib/slf4j-log4j12-1.7.25.jar .
!mv /content/hbase-2.4.15/lib/client-facing-thirdparty/slf4j-reload4j-1.7.33.jar .
#!mv /content/hbase-2.5.0/lib/client-facing-thirdparty/slf4j-api-1.7.33.jar .

## Start HBase server

In [13]:
!start-hbase.sh
!jps

running master, logging to /content/hbase-2.4.15//logs/hbase--master-ccf30333b2f5.out
1672 Jps
1518 HMaster

### 1518 is a process id of HMaster, as of now we dont require it, but when we want to abort a process, we can use it.

# Run Hbase Shell
do not skip these two shell commands

In [ ]:
# you can enter hbase shell commands at the prompt. Double click on the prompt to open up a input box
#!hbase shell

shell commands  <br>
https://www.tutorialspoint.com/hbase/hbase_shell.htm <br>
https://www.guru99.com/hbase-shell-general-commands.html <br>
better way of passing shell commands are given here

In [14]:
!echo 'status' | hbase shell -n
#!echo "status 'detail'" | hbase shell -n

hbase:001:0> status
1 active master, 0 backup masters, 1 servers, 0 dead, 2.0000 average load
Took 1.2121 seconds
hbase:002:0>

In [15]:
!echo "whoami" | hbase shell -n

hbase:001:0> whoami
root (auth:SIMPLE)
    groups: root
Took 0.0250 seconds
hbase:002:0>

### It gave a proper answer back, which means HBase is alive and working.

#Install HappyBase / Thrift <br>
https://happybase.readthedocs.io/en/latest/

### It opens up a connection. It keeps the connection alive which means when we are sending a second query in, the earlier one is not died.In the previous approach. in each command waking up hadoop, waking up hbase, doing our jobs,it was a lengthy process, and takes a lots of time. Here, thrift server is always connected, so, its an alive database.

In [16]:
!stop-hbase.sh

stopping hbase................

### server program is also called demon, something is running at the background, it doesnot sstop until we stop it.In normal program, either it gives errors or stops, but a server program is not designed to stop,it is designed to stay awake and listen to other commands.

In [17]:
!pip -qq install happybase

     |████████████████████████████████| 40 kB 4.0 MB/s
     |████████████████████████████████| 361 kB 13.5 MB/s
     |████████████████████████████████| 49 kB 4.9 MB/s
  Building wheel for happybase (setup.py) ... done
  Building wheel for thriftpy2 (setup.py) ... done

### HappyBase is a developer-friendly Python library to interact with Apache HBase.

In [18]:
import happybase
#https://happybase.readthedocs.io/en/latest/

### now, we will use hbase-demon to start the thrift

In [19]:
#!ls hbase-2.4.8/bin
#!hbase-2.4.8/bin/hbase-daemon.sh start thrift
!hbase-daemon.sh start thrift

running thrift, logging to /content/hbase-2.4.15//logs/hbase--thrift-ccf30333b2f5.out

In [20]:
!start-hbase.sh
!jps

running master, logging to /content/hbase-2.4.15//logs/hbase--master-ccf30333b2f5.out
2949 ThriftServer
3317 HMaster
3471 Jps

### so, here along with HMaster, ThriftServer is also running in the system. so, two servers are running.

In [56]:
#connection = happybase.Connection('localhost',9090, transport='framed',protocol='compact')
#if this connection suddenly closes, you may get errors. in that case, re-run this cell again
kxn = happybase.Connection('localhost',9090,autoconnect=False)

#Create Tables

In [22]:
kxn.open()
kxn.tables()

[]

### right now, we have not created any tables, so it is an empty list

##Create Dept Table, Insert Data

In [25]:
kxn.open()
#Drop Table
#kxn.disable_table('Dept')
#kxn.delete_table('Dept')
#Create Table
kxn.create_table(
    'Dept',
    {'DeptID': dict(max_versions=10),
     'DeptName': dict(max_versions=1, block_cache_enabled=False),
     'ManagerID': dict(),  # use defaults
     'Location': dict(),  # use defaults
    }
)
kxn.close()

### codes are similar to mysql but here is no varchar, int because we are here defining only just column families which are basically dictionaries. in each column family, columns are very much flexible.

In [26]:
kxn.open()
tDept = kxn.table('Dept')
kxn.close()

### so, we defined a table called tDept which refers to the Hbase table

In [27]:
#Insert one row
kxn.open()
tDept.put('10',{'DeptName:': 'Corporate', 'ManagerID:': '123456','Location:':'Calcutta'})
kxn.close()

### now, we want to see the data, and it looks like this

In [28]:
kxn.open()
for key, data in tDept.scan():
    print(key, data)
kxn.close()

b'10' {b'DeptName:': b'Corporate', b'Location:': b'Calcutta', b'ManagerID:': b'123456'}

In [29]:
#Insert 3 more rows in Batch
kxn.open()
b = tDept.batch()
b.put(b'20', { b'DeptName:': b'Sales', b'ManagerID:': b'234567', b'Location:': b'Calcutta'})
b.put(b'30', { b'DeptName:': b'Accounts', b'ManagerID:': b'567234', b'Location:': b'Calcutta'})
b.put(b'40', { b'DeptName:': b'Production', b'ManagerID:': b'345876', b'Location:': b'Bombay'})
b.send()
kxn.close()

In [30]:
#show all four ROWS
kxn.open()
#tDept = kxn.table('Dept')
for key, value in tDept.scan():
    print(key, value)
kxn.close()

b'10' {b'DeptName:': b'Corporate', b'Location:': b'Calcutta', b'ManagerID:': b'123456'}
b'20' {b'DeptName:': b'Sales', b'Location:': b'Calcutta', b'ManagerID:': b'234567'}
b'30' {b'DeptName:': b'Accounts', b'Location:': b'Calcutta', b'ManagerID:': b'567234'}
b'40' {b'DeptName:': b'Production', b'Location:': b'Bombay', b'ManagerID:': b'345876'}

##Create Emp Table, LOAD data <br>
https://people.apache.org/~stack/site/bulk-loads.html

In [31]:
kxn.open()
#Drop Table
#kxn.disable_table('Emp')
#kxn.delete_table('Emp')
#Create Table
kxn.create_table(
    'Emp',
    {'EmpID': dict(max_versions=10),
     'LastName': dict(),  # use defaults
     'FirstName': dict(),  # use defaults
     'Role': dict(),  # use defaults
     'DoJ': dict(),  # use defaults
     'Salary': dict(),  # use defaults
     'Comm': dict(),  # use defaults
     'DeptID': dict(),  # use defaults
    }
)
kxn.close()

In [32]:
kxn.open()
kxn.tables()

[b'Dept', b'Emp']

In [33]:
#Download txt file with Employee Data
!wget -q https://raw.githubusercontent.com/Praxis-QR/BDSN/main/Documents/Employee.csv

In [ ]:
#!cat Employee.csv

### mqsql can read the files from local file system, but anything on hadoop doesnot read the file from local file system, it only reads the hdfs file system. so, I have to move my data from my local file system to hdfs file system.

In [34]:
# input file has to be moved from regular file system to HDFS file system
!hdfs dfs -copyFromLocal Employee.csv /tmp

### now we have to load the data, by ImportTsv command

In [ ]:
# https://community.cloudera.com/t5/Community-Articles/Import-CSV-data-into-HBase-using-importtsv/ta-p/244842
#hbase org.apache.hadoop.hbase.mapreduce.ImportTsv -Dimporttsv.separator=,  -Dimporttsv.columns="HBASE_ROW_KEY,id,temp:in,temp:out,vibration,pressure:in,pressure:out" sensor hdfs://sandbox.hortonworks.com:/tmp/hbase.csv
!hbase org.apache.hadoop.hbase.mapreduce.ImportTsv -Dimporttsv.separator=','  -Dimporttsv.columns="HBASE_ROW_KEY,LastName:,FirstName:,Role:,DoJ:,Salary:,Comm:,DeptID:" Emp /tmp/Employee.csv

In [36]:
kxn.open()
tEmp = kxn.table('Emp')
kxn.close()

In [37]:
kxn.open()
#tDept = kxn.table('Dept')
for key, data in tEmp.scan():
    print(key, data)
kxn.close()

b'123980' {b'Comm:': b'0.02', b'DeptID:': b'40', b'DoJ:': b'2004-10-09', b'FirstName:': b'Mahender', b'LastName:': b'Dhoni', b'Role:': b'Clerk', b'Salary:': b'9000'}
b'223112' {b'Comm:': b'0.04', b'DeptID:': b'30', b'DoJ:': b'2001-11-19', b'FirstName:': b'Sania', b'LastName:': b'Mirza', b'Role:': b'Cus_Rep', b'Salary:': b'25000'}
b'239456' {b'Comm:': b'0.07', b'DeptID:': b'20', b'DoJ:': b'2004-01-03', b'FirstName:': b'Shahrukh', b'LastName:': b'Khan', b'Role:': b'Manager', b'Salary:': b'30000'}
b'299034' {b'Comm:': b'0.11', b'DeptID:': b'10', b'DoJ:': b'2002-10-10', b'FirstName:': b'Rekha', b'LastName:': b'Ganesan', b'Role:': b'Director', b'Salary:': b'60000'}
b'349870' {b'Comm:': b'0.06', b'DeptID:': b'40', b'DoJ:': b'2005-05-04', b'FirstName:': b'Rani', b'LastName:': b'Mukherjee', b'Role:': b'Manager', b'Salary:': b'25000'}
b'546223' {b'Comm:': b'0.09', b'DeptID:': b'10', b'DoJ:': b'2005-12-04', b'FirstName:': b'Narayan', b'LastName:': b'Karthikeyan', b'Role:': b'Secretary', b'Salary:': b'40000'}
b'742866' {b'Comm:': b'0.1', b'DeptID:': b'10', b'DoJ:': b'2003-03-10', b'FirstName:': b'Amitabh', b'LastName:': b'Bacchan', b'Role:': b'Executive', b'Salary:': b'50000'}
b'822134' {b'Comm:': b'0.08', b'DeptID:': b'30', b'DoJ:': b'2000-06-04', b'FirstName:': b'Rahul', b'LastName:': b'Dravid', b'Role:': b'Sr Manager', b'Salary:': b'40000'}
b'865477' {b'Comm:': b'0.02', b'DeptID:': b'20', b'DoJ:': b'2002-04-04', b'FirstName:': b'Madhuri', b'LastName:': b'Dikshit', b'Role:': b'Clerk', b'Salary:': b'10000'}
b'897889' {b'Comm:': b'0.05', b'DeptID:': b'20', b'DoJ:': b'2005-01-02', b'FirstName:': b'Virender', b'LastName:': b'Sehwag', b'Role:': b'Cus_Rep', b'Salary:': b'15000'}
b'989007' {b'Comm:': b'0.03', b'DeptID:': b'40', b'DoJ:': b'2002-01-01', b'FirstName:': b'Sourav', b'LastName:': b'Ganguly', b'Role:': b'Cus_Rep', b'Salary:': b'20000'}
b'997445' {b'Comm:': b'0.02', b'DeptID:': b'30', b'DoJ:': b'2001-07-01', b'FirstName:': b'Jagmohan', b'LastName:': b'Dalmia', b'Role:': b'Clerk', b'Salary:': b'12000'}

## Creating, INSERTing Denormalised EmpDept Table

In [38]:
kxn.open()
#Drop Table
#kxn.disable_table('EmpDept')
#kxn.delete_table('EmpDept')
#Create Table
kxn.create_table(
    'EmpDept',
    {'EmpID': dict(max_versions=10),
     'Emp': dict(),  # use defaults
     'Dept': dict(),  # use defaults
    }
)
kxn.close()

### here, we cannot use normal join just like we did in mysql, but we are creating a table where two column families are Emp and Dept which are tables themselves.

In [39]:
kxn.open()
kxn.tables()

[b'Dept', b'Emp', b'EmpDept']

In [42]:
kxn.open()
tEmpDept = kxn.table('EmpDept')
b = tEmpDept.batch()
b.put(b'742866', { b'Emp:FirstName': b'Amitabh', b'Dept:DeptName': b'Corporate', b'Dept:Location': b'Calcutta'})
b.put(b'349870', { b'Emp:LastName': b'Mukheree', b'Dept:ManagerID': b'567234', b'Dept:Location:': b'Bombay'})
b.send()
kxn.close()

In [43]:
kxn.open()
#tDept = kxn.table('Dept')
for key, data in tEmpDept.scan():
    print(key, data)
kxn.close()

b'349870' {b'Dept:Location:': b'Bombay', b'Dept:ManagerID': b'567234', b'Emp:LastName': b'Mukheree'}
b'742866' {b'Dept:DeptName': b'Corporate', b'Dept:Location': b'Calcutta', b'Emp:FirstName': b'Amitabh'}

##Creating and LOADing denormalised tables EmpDept2

In [44]:
kxn.open()
#Drop Table
#kxn.disable_table('EmpDept2')
#kxn.delete_table('EmpDept2')
#Create Table
kxn.create_table(
    'EmpDept2',
    {'EmpID': dict(max_versions=10),
     'Emp': dict(),  # use defaults
     'Dept': dict(),  # use defaults
    }
)
kxn.close()

In [45]:
kxn.open()
kxn.tables()

[b'Dept', b'Emp', b'EmpDept', b'EmpDept2']

### now, we are loading a bulk data. however, here flexibility of having different columns doesnot work becuase loading the data in hdfs we to mention all the specified columns

In [46]:
!wget -q https://raw.githubusercontent.com/Praxis-QR/BDSN/main/Documents/EmployeeDept2.txt

In [47]:
!cat EmployeeDept2.txt

742866,Bacchan,Amitabh,Executive,2003-03-10,50000,0.1,10,Corporate,299034,Calcutta
349870,Mukherjee,Rani,Manager,2005-05-04,25000,0.06,40,Production,349870,Bombay
865477,Dikshit,Madhuri,Clerk,2002-04-04,10000,0.02,20,Sales,239456,Calcutta
239456,Khan,Shahrukh,Manager,2004-01-03,30000,0.07,20,Sales,239456,Calcutta
897889,Sehwag,Virender,Cus_Rep,2005-01-02,15000,0.05,20,Sales,239456,Calcutta
123980,Dhoni,Mahender,Clerk,2004-10-09,9000,0.02,40,Production,349870,Bombay
822134,Dravid,Rahul,Sr Manager,2000-06-04,40000,0.08,30,Accounts,822134,Calcutta
997445,Dalmia,Jagmohan,Clerk,2001-07-01,12000,0.02,30,Accounts,822134,Calcutta
989007,Ganguly,Sourav,Cus_Rep,2002-01-01,20000,0.03,40,Production,349870,Bombay
299034,Ganesan,Rekha,Director,2002-10-10,60000,0.11,10,Corporate,299034,Calcutta
546223,Karthikeyan,Narayan,Secretary,2005-12-04,40000,0.09,10,Corporate,299034,Calcutta
223112,Mirza,Sania,Cus_Rep,2001-11-19,25000,0.04,30,Accounts,822134,Calcutta

In [48]:
# input file has to be moved from regular file system to HDFS file system
!hdfs dfs -copyFromLocal EmployeeDept2.txt /tmp

In [ ]:
# https://community.cloudera.com/t5/Community-Articles/Import-CSV-data-into-HBase-using-importtsv/ta-p/244842
#hbase org.apache.hadoop.hbase.mapreduce.ImportTsv -Dimporttsv.separator=,  -Dimporttsv.columns="HBASE_ROW_KEY,id,temp:in,temp:out,vibration,pressure:in,pressure:out" sensor hdfs://sandbox.hortonworks.com:/tmp/hbase.csv
!hbase org.apache.hadoop.hbase.mapreduce.ImportTsv -Dimporttsv.separator=','  -Dimporttsv.columns="HBASE_ROW_KEY,Emp:LastName,Emp:FirstName,Emp:Role,Emp:DoJ,Emp:Salary,Emp:Comm,Dept:DeptID,Dept:DeptName,Dept:ManagerID,Dept:Location" EmpDept2 /tmp/EmployeeDept2.txt

In [50]:
tEmpDept2 = kxn.table('EmpDept2')

In [53]:
kxn.open()
tEmpDept2 = kxn.table('EmpDept2')
for key, data in tEmpDept2.scan():
    print(key, data)
kxn.close()

b'123980' {b'Dept:DeptID': b'40', b'Dept:DeptName': b'Production', b'Dept:Location': b'Bombay', b'Dept:ManagerID': b'349870', b'Emp:Comm': b'0.02', b'Emp:DoJ': b'2004-10-09', b'Emp:FirstName': b'Mahender', b'Emp:LastName': b'Dhoni', b'Emp:Role': b'Clerk', b'Emp:Salary': b'9000'}
b'223112' {b'Dept:DeptID': b'30', b'Dept:DeptName': b'Accounts', b'Dept:Location': b'Calcutta', b'Dept:ManagerID': b'822134', b'Emp:Comm': b'0.04', b'Emp:DoJ': b'2001-11-19', b'Emp:FirstName': b'Sania', b'Emp:LastName': b'Mirza', b'Emp:Role': b'Cus_Rep', b'Emp:Salary': b'25000'}
b'239456' {b'Dept:DeptID': b'20', b'Dept:DeptName': b'Sales', b'Dept:Location': b'Calcutta', b'Dept:ManagerID': b'239456', b'Emp:Comm': b'0.07', b'Emp:DoJ': b'2004-01-03', b'Emp:FirstName': b'Shahrukh', b'Emp:LastName': b'Khan', b'Emp:Role': b'Manager', b'Emp:Salary': b'30000'}
b'299034' {b'Dept:DeptID': b'10', b'Dept:DeptName': b'Corporate', b'Dept:Location': b'Calcutta', b'Dept:ManagerID': b'299034', b'Emp:Comm': b'0.11', b'Emp:DoJ': b'2002-10-10', b'Emp:FirstName': b'Rekha', b'Emp:LastName': b'Ganesan', b'Emp:Role': b'Director', b'Emp:Salary': b'60000'}
b'349870' {b'Dept:DeptID': b'40', b'Dept:DeptName': b'Production', b'Dept:Location': b'Bombay', b'Dept:ManagerID': b'349870', b'Emp:Comm': b'0.06', b'Emp:DoJ': b'2005-05-04', b'Emp:FirstName': b'Rani', b'Emp:LastName': b'Mukherjee', b'Emp:Role': b'Manager', b'Emp:Salary': b'25000'}
b'546223' {b'Dept:DeptID': b'10', b'Dept:DeptName': b'Corporate', b'Dept:Location': b'Calcutta', b'Dept:ManagerID': b'299034', b'Emp:Comm': b'0.09', b'Emp:DoJ': b'2005-12-04', b'Emp:FirstName': b'Narayan', b'Emp:LastName': b'Karthikeyan', b'Emp:Role': b'Secretary', b'Emp:Salary': b'40000'}
b'742866' {b'Dept:DeptID': b'10', b'Dept:DeptName': b'Corporate', b'Dept:Location': b'Calcutta', b'Dept:ManagerID': b'299034', b'Emp:Comm': b'0.1', b'Emp:DoJ': b'2003-03-10', b'Emp:FirstName': b'Amitabh', b'Emp:LastName': b'Bacchan', b'Emp:Role': b'Executive', b'Emp:Salary': b'50000'}
b'822134' {b'Dept:DeptID': b'30', b'Dept:DeptName': b'Accounts', b'Dept:Location': b'Calcutta', b'Dept:ManagerID': b'822134', b'Emp:Comm': b'0.08', b'Emp:DoJ': b'2000-06-04', b'Emp:FirstName': b'Rahul', b'Emp:LastName': b'Dravid', b'Emp:Role': b'Sr Manager', b'Emp:Salary': b'40000'}
b'865477' {b'Dept:DeptID': b'20', b'Dept:DeptName': b'Sales', b'Dept:Location': b'Calcutta', b'Dept:ManagerID': b'239456', b'Emp:Comm': b'0.02', b'Emp:DoJ': b'2002-04-04', b'Emp:FirstName': b'Madhuri', b'Emp:LastName': b'Dikshit', b'Emp:Role': b'Clerk', b'Emp:Salary': b'10000'}
b'897889' {b'Dept:DeptID': b'20', b'Dept:DeptName': b'Sales', b'Dept:Location': b'Calcutta', b'Dept:ManagerID': b'239456', b'Emp:Comm': b'0.05', b'Emp:DoJ': b'2005-01-02', b'Emp:FirstName': b'Virender', b'Emp:LastName': b'Sehwag', b'Emp:Role': b'Cus_Rep', b'Emp:Salary': b'15000'}
b'989007' {b'Dept:DeptID': b'40', b'Dept:DeptName': b'Production', b'Dept:Location': b'Bombay', b'Dept:ManagerID': b'349870', b'Emp:Comm': b'0.03', b'Emp:DoJ': b'2002-01-01', b'Emp:FirstName': b'Sourav', b'Emp:LastName': b'Ganguly', b'Emp:Role': b'Cus_Rep', b'Emp:Salary': b'20000'}
b'997445' {b'Dept:DeptID': b'30', b'Dept:DeptName': b'Accounts', b'Dept:Location': b'Calcutta', b'Dept:ManagerID': b'822134', b'Emp:Comm': b'0.02', b'Emp:DoJ': b'2001-07-01', b'Emp:FirstName': b'Jagmohan', b'Emp:LastName': b'Dalmia', b'Emp:Role': b'Clerk', b'Emp:Salary': b'12000'}

#Data Retrieval <br>
https://happybase.readthedocs.io/en/latest/user.html

In [54]:
#Retreive One Row
kxn.open()
tEmpDept2 = kxn.table('EmpDept2')
prow = tEmpDept2.row(b'123980')
print(prow)   # prints the value of cf1:col1

{b'Dept:DeptID': b'40', b'Dept:DeptName': b'Production', b'Dept:Location': b'Bombay', b'Dept:ManagerID': b'349870', b'Emp:Comm': b'0.02', b'Emp:DoJ': b'2004-10-09', b'Emp:FirstName': b'Mahender', b'Emp:LastName': b'Dhoni', b'Emp:Role': b'Clerk', b'Emp:Salary': b'9000'}

### so, we retreived the data of single row by speciftying the key

In [57]:
#Retreive More than one Row
kxn.open()
tEmpDept2 = kxn.table('EmpDept2')
listOfrows = [b'742866', b'897889']
rows = tEmpDept2.rows(listOfrows)
for key, data in rows:
    print(key, data)

b'742866' {b'Dept:DeptID': b'10', b'Dept:DeptName': b'Corporate', b'Dept:Location': b'Calcutta', b'Dept:ManagerID': b'299034', b'Emp:Comm': b'0.1', b'Emp:DoJ': b'2003-03-10', b'Emp:FirstName': b'Amitabh', b'Emp:LastName': b'Bacchan', b'Emp:Role': b'Executive', b'Emp:Salary': b'50000'}
b'897889' {b'Dept:DeptID': b'20', b'Dept:DeptName': b'Sales', b'Dept:Location': b'Calcutta', b'Dept:ManagerID': b'239456', b'Emp:Comm': b'0.05', b'Emp:DoJ': b'2005-01-02', b'Emp:FirstName': b'Virender', b'Emp:LastName': b'Sehwag', b'Emp:Role': b'Cus_Rep', b'Emp:Salary': b'15000'}

In [58]:
#Retreive More than one Row
kxn.open()
tEmpDept2 = kxn.table('EmpDept2')
rowsDict = dict(tEmpDept2.rows([b'742866', b'897889']))
for k,v in rowsDict.items():
    print(k,v)

b'742866' {b'Dept:DeptID': b'10', b'Dept:DeptName': b'Corporate', b'Dept:Location': b'Calcutta', b'Dept:ManagerID': b'299034', b'Emp:Comm': b'0.1', b'Emp:DoJ': b'2003-03-10', b'Emp:FirstName': b'Amitabh', b'Emp:LastName': b'Bacchan', b'Emp:Role': b'Executive', b'Emp:Salary': b'50000'}
b'897889' {b'Dept:DeptID': b'20', b'Dept:DeptName': b'Sales', b'Dept:Location': b'Calcutta', b'Dept:ManagerID': b'239456', b'Emp:Comm': b'0.05', b'Emp:DoJ': b'2005-01-02', b'Emp:FirstName': b'Virender', b'Emp:LastName': b'Sehwag', b'Emp:Role': b'Cus_Rep', b'Emp:Salary': b'15000'}

In [59]:
#Retreive More than one Row, but only one column family
kxn.open()
tEmpDept2 = kxn.table('EmpDept2')
rows = tEmpDept2.rows([b'742866', b'897889'],columns=[b'Emp'])
for key, data in rows:
    print(key, data)

b'742866' {b'Emp:Comm': b'0.1', b'Emp:DoJ': b'2003-03-10', b'Emp:FirstName': b'Amitabh', b'Emp:LastName': b'Bacchan', b'Emp:Role': b'Executive', b'Emp:Salary': b'50000'}
b'897889' {b'Emp:Comm': b'0.05', b'Emp:DoJ': b'2005-01-02', b'Emp:FirstName': b'Virender', b'Emp:LastName': b'Sehwag', b'Emp:Role': b'Cus_Rep', b'Emp:Salary': b'15000'}

In [60]:
#Retreive More than one Row, but only one column family
kxn.open()
tEmpDept2 = kxn.table('EmpDept2')
rows = tEmpDept2.rows([b'742866', b'897889'],columns=[b'Dept'])
for key, data in rows:
    print(key, data)

b'742866' {b'Dept:DeptID': b'10', b'Dept:DeptName': b'Corporate', b'Dept:Location': b'Calcutta', b'Dept:ManagerID': b'299034'}
b'897889' {b'Dept:DeptID': b'20', b'Dept:DeptName': b'Sales', b'Dept:Location': b'Calcutta', b'Dept:ManagerID': b'239456'}

In [61]:
#Retreive More than one Row, but only one column family
kxn.open()
tEmpDept2 = kxn.table('EmpDept2')
rows = tEmpDept2.rows([b'742866', b'897889'],columns=[b'Emp:LastName',b'Dept:Location'])
for key, data in rows:
    print(key, data)

b'742866' {b'Dept:Location': b'Calcutta', b'Emp:LastName': b'Bacchan'}
b'897889' {b'Dept:Location': b'Calcutta', b'Emp:LastName': b'Sehwag'}

In [62]:
kxn.open()
tEmpDept2 = kxn.table('EmpDept2')
for key, data in tEmpDept2.scan():
    print(key, data)
kxn.close()

b'123980' {b'Dept:DeptID': b'40', b'Dept:DeptName': b'Production', b'Dept:Location': b'Bombay', b'Dept:ManagerID': b'349870', b'Emp:Comm': b'0.02', b'Emp:DoJ': b'2004-10-09', b'Emp:FirstName': b'Mahender', b'Emp:LastName': b'Dhoni', b'Emp:Role': b'Clerk', b'Emp:Salary': b'9000'}
b'223112' {b'Dept:DeptID': b'30', b'Dept:DeptName': b'Accounts', b'Dept:Location': b'Calcutta', b'Dept:ManagerID': b'822134', b'Emp:Comm': b'0.04', b'Emp:DoJ': b'2001-11-19', b'Emp:FirstName': b'Sania', b'Emp:LastName': b'Mirza', b'Emp:Role': b'Cus_Rep', b'Emp:Salary': b'25000'}
b'239456' {b'Dept:DeptID': b'20', b'Dept:DeptName': b'Sales', b'Dept:Location': b'Calcutta', b'Dept:ManagerID': b'239456', b'Emp:Comm': b'0.07', b'Emp:DoJ': b'2004-01-03', b'Emp:FirstName': b'Shahrukh', b'Emp:LastName': b'Khan', b'Emp:Role': b'Manager', b'Emp:Salary': b'30000'}
b'299034' {b'Dept:DeptID': b'10', b'Dept:DeptName': b'Corporate', b'Dept:Location': b'Calcutta', b'Dept:ManagerID': b'299034', b'Emp:Comm': b'0.11', b'Emp:DoJ': b'2002-10-10', b'Emp:FirstName': b'Rekha', b'Emp:LastName': b'Ganesan', b'Emp:Role': b'Director', b'Emp:Salary': b'60000'}
b'349870' {b'Dept:DeptID': b'40', b'Dept:DeptName': b'Production', b'Dept:Location': b'Bombay', b'Dept:ManagerID': b'349870', b'Emp:Comm': b'0.06', b'Emp:DoJ': b'2005-05-04', b'Emp:FirstName': b'Rani', b'Emp:LastName': b'Mukherjee', b'Emp:Role': b'Manager', b'Emp:Salary': b'25000'}
b'546223' {b'Dept:DeptID': b'10', b'Dept:DeptName': b'Corporate', b'Dept:Location': b'Calcutta', b'Dept:ManagerID': b'299034', b'Emp:Comm': b'0.09', b'Emp:DoJ': b'2005-12-04', b'Emp:FirstName': b'Narayan', b'Emp:LastName': b'Karthikeyan', b'Emp:Role': b'Secretary', b'Emp:Salary': b'40000'}
b'742866' {b'Dept:DeptID': b'10', b'Dept:DeptName': b'Corporate', b'Dept:Location': b'Calcutta', b'Dept:ManagerID': b'299034', b'Emp:Comm': b'0.1', b'Emp:DoJ': b'2003-03-10', b'Emp:FirstName': b'Amitabh', b'Emp:LastName': b'Bacchan', b'Emp:Role': b'Executive', b'Emp:Salary': b'50000'}
b'822134' {b'Dept:DeptID': b'30', b'Dept:DeptName': b'Accounts', b'Dept:Location': b'Calcutta', b'Dept:ManagerID': b'822134', b'Emp:Comm': b'0.08', b'Emp:DoJ': b'2000-06-04', b'Emp:FirstName': b'Rahul', b'Emp:LastName': b'Dravid', b'Emp:Role': b'Sr Manager', b'Emp:Salary': b'40000'}
b'865477' {b'Dept:DeptID': b'20', b'Dept:DeptName': b'Sales', b'Dept:Location': b'Calcutta', b'Dept:ManagerID': b'239456', b'Emp:Comm': b'0.02', b'Emp:DoJ': b'2002-04-04', b'Emp:FirstName': b'Madhuri', b'Emp:LastName': b'Dikshit', b'Emp:Role': b'Clerk', b'Emp:Salary': b'10000'}
b'897889' {b'Dept:DeptID': b'20', b'Dept:DeptName': b'Sales', b'Dept:Location': b'Calcutta', b'Dept:ManagerID': b'239456', b'Emp:Comm': b'0.05', b'Emp:DoJ': b'2005-01-02', b'Emp:FirstName': b'Virender', b'Emp:LastName': b'Sehwag', b'Emp:Role': b'Cus_Rep', b'Emp:Salary': b'15000'}
b'989007' {b'Dept:DeptID': b'40', b'Dept:DeptName': b'Production', b'Dept:Location': b'Bombay', b'Dept:ManagerID': b'349870', b'Emp:Comm': b'0.03', b'Emp:DoJ': b'2002-01-01', b'Emp:FirstName': b'Sourav', b'Emp:LastName': b'Ganguly', b'Emp:Role': b'Cus_Rep', b'Emp:Salary': b'20000'}
b'997445' {b'Dept:DeptID': b'30', b'Dept:DeptName': b'Accounts', b'Dept:Location': b'Calcutta', b'Dept:ManagerID': b'822134', b'Emp:Comm': b'0.02', b'Emp:DoJ': b'2001-07-01', b'Emp:FirstName': b'Jagmohan', b'Emp:LastName': b'Dalmia', b'Emp:Role': b'Clerk', b'Emp:Salary': b'12000'}

In [63]:
kxn.open()
tEmpDept2 = kxn.table('EmpDept2')
for key, data in tEmpDept2.scan(row_start=b'230000', row_stop=b'870000'):
    print(key, data)
kxn.close()

b'239456' {b'Dept:DeptID': b'20', b'Dept:DeptName': b'Sales', b'Dept:Location': b'Calcutta', b'Dept:ManagerID': b'239456', b'Emp:Comm': b'0.07', b'Emp:DoJ': b'2004-01-03', b'Emp:FirstName': b'Shahrukh', b'Emp:LastName': b'Khan', b'Emp:Role': b'Manager', b'Emp:Salary': b'30000'}
b'299034' {b'Dept:DeptID': b'10', b'Dept:DeptName': b'Corporate', b'Dept:Location': b'Calcutta', b'Dept:ManagerID': b'299034', b'Emp:Comm': b'0.11', b'Emp:DoJ': b'2002-10-10', b'Emp:FirstName': b'Rekha', b'Emp:LastName': b'Ganesan', b'Emp:Role': b'Director', b'Emp:Salary': b'60000'}
b'349870' {b'Dept:DeptID': b'40', b'Dept:DeptName': b'Production', b'Dept:Location': b'Bombay', b'Dept:ManagerID': b'349870', b'Emp:Comm': b'0.06', b'Emp:DoJ': b'2005-05-04', b'Emp:FirstName': b'Rani', b'Emp:LastName': b'Mukherjee', b'Emp:Role': b'Manager', b'Emp:Salary': b'25000'}
b'546223' {b'Dept:DeptID': b'10', b'Dept:DeptName': b'Corporate', b'Dept:Location': b'Calcutta', b'Dept:ManagerID': b'299034', b'Emp:Comm': b'0.09', b'Emp:DoJ': b'2005-12-04', b'Emp:FirstName': b'Narayan', b'Emp:LastName': b'Karthikeyan', b'Emp:Role': b'Secretary', b'Emp:Salary': b'40000'}
b'742866' {b'Dept:DeptID': b'10', b'Dept:DeptName': b'Corporate', b'Dept:Location': b'Calcutta', b'Dept:ManagerID': b'299034', b'Emp:Comm': b'0.1', b'Emp:DoJ': b'2003-03-10', b'Emp:FirstName': b'Amitabh', b'Emp:LastName': b'Bacchan', b'Emp:Role': b'Executive', b'Emp:Salary': b'50000'}
b'822134' {b'Dept:DeptID': b'30', b'Dept:DeptName': b'Accounts', b'Dept:Location': b'Calcutta', b'Dept:ManagerID': b'822134', b'Emp:Comm': b'0.08', b'Emp:DoJ': b'2000-06-04', b'Emp:FirstName': b'Rahul', b'Emp:LastName': b'Dravid', b'Emp:Role': b'Sr Manager', b'Emp:Salary': b'40000'}
b'865477' {b'Dept:DeptID': b'20', b'Dept:DeptName': b'Sales', b'Dept:Location': b'Calcutta', b'Dept:ManagerID': b'239456', b'Emp:Comm': b'0.02', b'Emp:DoJ': b'2002-04-04', b'Emp:FirstName': b'Madhuri', b'Emp:LastName': b'Dikshit', b'Emp:Role': b'Clerk', b'Emp:Salary': b'10000'}

In [64]:
#kxn = happybase.Connection('localhost',9090,autoconnect=False)
kxn.open()
tEmpDept2 = kxn.table('EmpDept2')
for key, data in tEmpDept2.scan(row_start=b'230000', row_stop=b'870000',columns=[b'Emp:LastName',b'Dept:Location']):
    print(key, data)
kxn.close()

b'239456' {b'Dept:Location': b'Calcutta', b'Emp:LastName': b'Khan'}
b'299034' {b'Dept:Location': b'Calcutta', b'Emp:LastName': b'Ganesan'}
b'349870' {b'Dept:Location': b'Bombay', b'Emp:LastName': b'Mukherjee'}
b'546223' {b'Dept:Location': b'Calcutta', b'Emp:LastName': b'Karthikeyan'}
b'742866' {b'Dept:Location': b'Calcutta', b'Emp:LastName': b'Bacchan'}
b'822134' {b'Dept:Location': b'Calcutta', b'Emp:LastName': b'Dravid'}
b'865477' {b'Dept:Location': b'Calcutta', b'Emp:LastName': b'Dikshit'}

#Stop HBase

In [65]:
!stop-hbase.sh
!date

stopping hbase..............
Mon Nov  7 08:12:10 UTC 2022

### so, sql is much more convenient, we can use group by order by ,but here we can't do that. if we want to do that, we have to do that manually after retreiving the data we want. but hbase works on petabyte of data and it is fast. so, there is a trade-off between speed and convenience ,so, habse is not convenient because here there is no richness of sql language but has high performance, and all of them fall under category of cluster computing.